날씨 예측에 필요한 라이브러리

In [1]:
import pandas as pd # 데이터 다루기 + 데이터셋 불러오기

import tensorflow as tf # 날씨 예측 인공지능 구현하기 위한 라이브러리

import numpy as np # 데이터 추가적으로 다루기 위한 라이브러리

데이터 셋 불러오기

In [2]:
df = pd.read_csv(r'Dataset.csv',encoding='cp949') # 데이터 셋 불러오기

데이터 내용 확인

In [3]:
df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),최대 풍속 풍향(16방위),평균 풍속(m/s),...,최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),최고 해면기압(hPa),최저 해면기압(hPa),평균 해면기압(hPa),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C)
0,102,백령도,2022-02-28,5.3,0.5,8.4,NaN,6.9,160,3.8,...,1423,86.9,7.7,1021.4,1014.5,1018.4,6.0,3.6,8.0,-7.2
1,102,백령도,2022-03-01,3.8,2.6,6.6,NaN,11.7,340,6.8,...,1646,62.6,5.1,1018.5,1012.4,1015.8,3.6,3.6,6.2,1.0
2,102,백령도,2022-03-02,5.4,2.0,8.6,NaN,8.7,250,5.1,...,1444,55.4,4.9,1018.3,1014.2,1016.3,0.0,0.0,8.7,-2.1
3,102,백령도,2022-03-03,5.1,1.9,8.9,NaN,5.6,160,2.7,...,1207,55.3,4.7,1018.8,1015.1,1016.9,0.0,0.0,10.3,-2.8
4,102,백령도,2022-03-04,6.5,4.2,11.0,NaN,10.9,340,6.8,...,1645,81.3,7.8,1015.2,1003.7,1009.0,7.8,4.8,9.1,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,201,강화,2022-08-24,23.1,19.2,27.8,NaN,3.2,70,1.3,...,843,76.0,21.3,1010.6,1007.4,1008.7,7.4,3.9,24.6,18.0
542,201,강화,2022-08-25,21.5,19.4,24.0,0.7,4.3,320,1.7,...,1339,86.8,22.2,1009.4,1007.4,1008.5,8.4,5.0,23.5,19.1
543,201,강화,2022-08-26,22.7,18.3,26.6,NaN,4.4,250,2.0,...,1218,85.5,23.3,1009.3,1006.3,1008.0,5.3,1.8,25.6,17.5
544,201,강화,2022-08-27,NaN,NaN,NaN,0.2,4.4,270,2.1,...,1329,59.5,14.7,1014.4,1007.9,1011.6,1.4,0.3,NaN,NaN
545,201,강화,2022-08-28,20.2,13.0,27.0,NaN,3.0,250,1.1,...,1522,69.4,15.9,1017.4,1014.3,1015.7,4.1,0.6,23.7,11.4

데이터 전처리 - 불필요한 데이터 제거

In [4]:
df = df.loc[df['지점명'] == '인천']

In [5]:
df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),최대 풍속 풍향(16방위),평균 풍속(m/s),...,최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),최고 해면기압(hPa),최저 해면기압(hPa),평균 해면기압(hPa),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C)
182,112,인천,2022-02-28,5.6,2.1,10.0,NaN,4.1,230,2.5,...,1633,65.1,5.8,1023.9,1016.1,1020.5,5.3,2.4,3.3,-1.3
183,112,인천,2022-03-01,4.8,-0.1,8.2,4.3,6.0,270,3.0,...,47,73.4,6.4,1018.6,1013.0,1015.0,5.5,4.4,5.7,-1.9
184,112,인천,2022-03-02,3.0,-1.0,6.4,NaN,6.1,200,3.0,...,1057,64.4,4.9,1019.7,1016.4,1017.8,0.0,0.0,3.0,-7.0
185,112,인천,2022-03-03,5.1,1.4,9.4,NaN,5.1,250,2.5,...,1311,62.9,5.4,1019.4,1017.0,1017.9,0.0,0.0,4.1,-5.3
186,112,인천,2022-03-04,6.4,2.8,12.7,NaN,11.1,200,4.8,...,1435,67.4,6.4,1017.5,1006.3,1011.3,4.8,4.4,3.7,-4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,112,인천,2022-08-24,24.5,21.6,27.7,NaN,4.7,140,2.6,...,1554,65.9,20.2,1009.1,1006.5,1007.6,5.9,3.8,25.3,18.8
360,112,인천,2022-08-25,22.4,21.2,23.5,1.6,3.6,270,2.1,...,1311,74.1,20.0,1008.7,1006.6,1007.7,8.6,3.8,23.4,18.5
361,112,인천,2022-08-26,23.7,21.0,26.5,NaN,5.5,250,2.6,...,1344,74.5,21.6,1008.4,1005.5,1007.1,5.9,3.9,25.9,18.3
362,112,인천,2022-08-27,NaN,NaN,NaN,0.0,6.8,290,3.6,...,1551,55.3,13.9,1013.4,1007.0,1010.5,2.9,0.6,NaN,NaN
363,112,인천,2022-08-28,22.4,16.9,27.0,NaN,4.0,270,2.2,...,1249,57.8,15.4,1016.1,1013.2,1014.5,4.8,1.3,24.5,13.8

In [6]:
df = df.drop(columns=['지점'])

데이터 columns 확인 (불필요한 데이터 요소 제거가 되었는지 확인용)

In [7]:
df.columns

Index(['지점명', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)',
       '최대 풍속(m/s)', '최대 풍속 풍향(16방위)', '평균 풍속(m/s)', '최다풍향(16방위)',
       '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 상대습도(%)', '평균 증기압(hPa)',
       '최고 해면기압(hPa)', '최저 해면기압(hPa)', '평균 해면기압(hPa)', '평균 전운량(1/10)',
       '평균 중하층운량(1/10)', '평균 지면온도(°C)', '최저 초상온도(°C)'],
      dtype='object')

In [8]:
y = df.drop(columns=['지점명','일시'])

In [9]:
y = y.fillna(0)

In [10]:
y

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),최대 풍속 풍향(16방위),평균 풍속(m/s),최다풍향(16방위),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),최고 해면기압(hPa),최저 해면기압(hPa),평균 해면기압(hPa),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C)
182,5.6,2.1,10.0,0.0,4.1,230,2.5,200,35,1633,65.1,5.8,1023.9,1016.1,1020.5,5.3,2.4,3.3,-1.3
183,4.8,-0.1,8.2,4.3,6.0,270,3.0,290,52,47,73.4,6.4,1018.6,1013.0,1015.0,5.5,4.4,5.7,-1.9
184,3.0,-1.0,6.4,0.0,6.1,200,3.0,230,34,1057,64.4,4.9,1019.7,1016.4,1017.8,0.0,0.0,3.0,-7.0
185,5.1,1.4,9.4,0.0,5.1,250,2.5,230,29,1311,62.9,5.4,1019.4,1017.0,1017.9,0.0,0.0,4.1,-5.3
186,6.4,2.8,12.7,0.0,11.1,200,4.8,160,42,1435,67.4,6.4,1017.5,1006.3,1011.3,4.8,4.4,3.7,-4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,24.5,21.6,27.7,0.0,4.7,140,2.6,140,59,1554,65.9,20.2,1009.1,1006.5,1007.6,5.9,3.8,25.3,18.8
360,22.4,21.2,23.5,1.6,3.6,270,2.1,160,50,1311,74.1,20.0,1008.7,1006.6,1007.7,8.6,3.8,23.4,18.5
361,23.7,21.0,26.5,0.0,5.5,250,2.6,270,64,1344,74.5,21.6,1008.4,1005.5,1007.1,5.9,3.9,25.9,18.3
362,0.0,0.0,0.0,0.0,6.8,290,3.6,290,43,1551,55.3,13.9,1013.4,1007.0,1010.5,2.9,0.6,0.0,0.0
363,22.4,16.9,27.0,0.0,4.0,270,2.2,50,39,1249,57.8,15.4,1016.1,1013.2,1014.5,4.8,1.3,24.5,13.8

정규화 처리(모든 데이터 -1 ~ 1사이 범위로 변경)

In [11]:
y_mean = y.mean().to_numpy()
y_std = y.std().to_numpy()
y = (y-y.mean())/y.std()

정규화 처리 후 데이터 확인

In [12]:
y

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),최대 풍속 풍향(16방위),평균 풍속(m/s),최다풍향(16방위),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),최고 해면기압(hPa),최저 해면기압(hPa),평균 해면기압(hPa),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C)
182,-1.651876,-1.632548,-1.621283,-0.248228,-0.962353,0.098704,-0.429377,-0.099232,-0.985031,0.658116,-0.369602,-1.223749,1.556278,1.065088,1.404235,-0.115243,-0.434904,-2.075602,-1.472066
183,-1.757848,-1.908604,-1.869778,-0.088090,0.166486,0.712864,0.135266,1.180624,-0.060088,-2.885901,0.203035,-1.155784,0.777897,0.616906,0.594908,-0.049182,0.311818,-1.796521,-1.537673
184,-1.996284,-2.021536,-2.118273,-0.248228,0.225898,-0.361916,0.135266,0.327387,-1.039439,-0.628993,-0.417897,-1.325697,0.939448,1.108460,1.006929,-1.865845,-1.330971,-2.110487,-2.095330
185,-1.718109,-1.720384,-1.704115,-0.248228,-0.368227,0.405784,-0.429377,0.327387,-1.311481,-0.061414,-0.521385,-1.269059,0.895388,1.195205,1.021644,-1.865845,-1.330971,-1.982575,-1.909445
186,-1.545905,-1.544712,-1.248541,-0.248228,3.196528,-0.361916,2.167981,-0.668057,-0.604172,0.215672,-0.210920,-1.155784,0.616346,-0.351746,0.050452,-0.280394,0.311818,-2.029088,-1.811034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,0.851703,0.814309,0.822247,-0.248228,-0.605878,-1.283155,-0.316448,-0.952469,0.320770,0.481585,-0.314408,0.407419,-0.617315,-0.322831,-0.494005,0.082939,0.087801,0.482642,0.725760
360,0.573528,0.764117,0.242426,-0.188642,-1.259416,0.712864,-0.881091,-0.668057,-0.168905,-0.061414,0.251329,0.384763,-0.676060,-0.308373,-0.479290,0.974755,0.087801,0.261702,0.692956
361,0.745732,0.739021,0.656584,-0.248228,-0.130577,0.405784,-0.316448,0.896212,0.592812,0.012327,0.278926,0.566004,-0.720120,-0.467406,-0.567580,0.082939,0.125138,0.552412,0.671087
362,-2.393678,-1.896056,-3.001809,-0.248228,0.641787,1.019944,0.812838,1.180624,-0.549764,0.474881,-1.045727,-0.306217,0.014202,-0.250543,-0.067269,-0.907968,-1.106954,-2.459338,-1.329918
363,0.573528,0.224554,0.725610,-0.248228,-1.021766,0.712864,-0.768163,-2.232325,-0.767397,-0.199957,-0.873246,-0.136304,0.410736,0.645821,0.521333,-0.280394,-0.845602,0.389615,0.179037

학습할 데이터 제작

In [13]:
from IPython.display import Image
  
# 이미지 넣기
Image(url="weatherAL.png")

In [14]:
trainY = []
trainX = []
for i in range(y.shape[0]-3):
    trainX.append(y[i:i+3].to_numpy())
    trainY.append(y[i+3:i+4].to_numpy())

trainX = np.array(trainX)
trainY = np.array(trainY)

인공지능 학습할 수 있게 데이터 구조 변경

In [15]:
trainY = trainY.reshape((-1,19))

In [16]:
trainX

array([[[-1.65187644, -1.63254815, -1.62128335, ..., -0.43490426,
         -2.07560163, -1.47206624],
        [-1.75784807, -1.90860384, -1.86977798, ...,  0.31181815,
         -1.79652055, -1.53767298],
        [-1.99628423, -2.02153572, -2.11827261, ..., -1.33097115,
         -2.11048676, -2.09533027]],

       [[-1.75784807, -1.90860384, -1.86977798, ...,  0.31181815,
         -1.79652055, -1.53767298],
        [-1.99628423, -2.02153572, -2.11827261, ..., -1.33097115,
         -2.11048676, -2.09533027],
        [-1.71810871, -1.72038405, -1.70411489, ..., -1.33097115,
         -1.9825746 , -1.90944451]],

       [[-1.99628423, -2.02153572, -2.11827261, ..., -1.33097115,
         -2.11048676, -2.09533027],
        [-1.71810871, -1.72038405, -1.70411489, ..., -1.33097115,
         -1.9825746 , -1.90944451],
        [-1.54590481, -1.54471225, -1.2485414 , ...,  0.31181815,
         -2.02908811, -1.8110344 ]],

       ...,

       [[ 0.83845685,  0.86450109,  0.84985771, ..., -0.09887918,
          0.78497942,  0.71482508],
        [ 0.8517033 ,  0.81430914,  0.82224719, ...,  0.08780143,
          0.48264159,  0.72575954],
        [ 0.57352777,  0.7641172 ,  0.24242639, ...,  0.08780143,
          0.2617024 ,  0.69295617]],

       [[ 0.8517033 ,  0.81430914,  0.82224719, ...,  0.08780143,
          0.48264159,  0.72575954],
        [ 0.57352777,  0.7641172 ,  0.24242639, ...,  0.08780143,
          0.2617024 ,  0.69295617],
        [ 0.74573167,  0.73902123,  0.65658411, ...,  0.12513755,
          0.55241186,  0.67108726]],

       [[ 0.57352777,  0.7641172 ,  0.24242639, ...,  0.08780143,
          0.2617024 ,  0.69295617],
        [ 0.74573167,  0.73902123,  0.65658411, ...,  0.12513755,
          0.55241186,  0.67108726],
        [-2.39367784, -1.89605586, -3.00180908, ..., -1.10695443,
         -2.45933811, -1.32991831]]])

인공지능 모델 구현(LSTM 이용한 날씨 예측)

In [17]:
model = tf.keras.Sequential()

model.add(tf.keras.layers.LSTM(256,activation='tanh',input_shape=(3,19),return_sequences=True))
model.add(tf.keras.layers.LSTM(128,activation='tanh'))
model.add(tf.keras.layers.Dense(19,activation='tanh'))

모델 구조 확인용

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 3, 256)            282624

 lstm_1 (LSTM)               (None, 128)               197120

 dense (Dense)               (None, 19)                2451

=================================================================
Total params: 482,195
Trainable params: 482,195
Non-trainable params: 0
_________________________________________________________________

학습방법 설정

In [19]:
model.compile(loss='mse',optimizer='adam') # loss='mse' 사용한 이유 : 회귀 문제이기 때문에

인공지능 학습 실행

In [20]:
model.fit(trainX,trainY,epochs=50)

Epoch 1/50
6/6 [==============================] - 3s 11ms/step - loss: 0.9034
Epoch 2/50
6/6 [==============================] - 0s 11ms/step - loss: 0.6955
Epoch 3/50
6/6 [==============================] - 0s 13ms/step - loss: 0.6031
Epoch 4/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5924
Epoch 5/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5833
Epoch 6/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5648
Epoch 7/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5476
Epoch 8/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5361
Epoch 9/50
6/6 [==============================] - 0s 12ms/step - loss: 0.5295
Epoch 10/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5143
Epoch 11/50
6/6 [==============================] - 0s 11ms/step - loss: 0.5034
Epoch 12/50
6/6 [==============================] - 0s 12ms/step - loss: 0.4917
Epoch 13/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4817
Epoch 14/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4702
Epoch 15/50
6/6 [==============================] - 0s 10ms/step - loss: 0.4581
Epoch 16/50
6/6 [==============================] - 0s 10ms/step - loss: 0.4496
Epoch 17/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4405
Epoch 18/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4295
Epoch 19/50
6/6 [==============================] - 0s 10ms/step - loss: 0.4167
Epoch 20/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4118
Epoch 21/50
6/6 [==============================] - 0s 11ms/step - loss: 0.4050
Epoch 22/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3947
Epoch 23/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3885
Epoch 24/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3817
Epoch 25/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3759
Epoch 26/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3697
Epoch 27/50
6/6 [==============================] - 0s 12ms/step - loss: 0.3690
Epoch 28/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3612
Epoch 29/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3556
Epoch 30/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3488
Epoch 31/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3424
Epoch 32/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3367
Epoch 33/50
6/6 [==============================] - 0s 12ms/step - loss: 0.3326
Epoch 34/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3260
Epoch 35/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3222
Epoch 36/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3182
Epoch 37/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3139
Epoch 38/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3150
Epoch 39/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3086
Epoch 40/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3043
Epoch 41/50
6/6 [==============================] - 0s 10ms/step - loss: 0.2990
Epoch 42/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2939
Epoch 43/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2894
Epoch 44/50
6/6 [==============================] - 0s 10ms/step - loss: 0.2856
Epoch 45/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2805
Epoch 46/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2769
Epoch 47/50
6/6 [==============================] - 0s 10ms/step - loss: 0.2762
Epoch 48/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2689
Epoch 49/50
6/6 [==============================] - 0s 10ms/step - loss: 0.2646
Epoch 50/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2626

다음날 예측할 데이터 출력

In [21]:
trainX[-1]

array([[ 0.57352777,  0.7641172 ,  0.24242639, -0.18864207, -1.25941636,
         0.71286389, -0.88109146, -0.66805666, -0.16890516, -0.06141365,
         0.25132937,  0.3847634 , -0.67606025, -0.30837344, -0.47928989,
         0.97475463,  0.08780143,  0.2617024 ,  0.69295617],
       [ 0.74573167,  0.73902123,  0.65658411, -0.24822833, -0.13057712,
         0.40578406, -0.31644834,  0.89621168,  0.59281227,  0.01232693,
         0.27892632,  0.56600427, -0.72011956, -0.4674058 , -0.56758013,
         0.08293853,  0.12513755,  0.55241186,  0.67108726],
       [-2.39367784, -1.89605586, -3.00180908, -0.24822833,  0.64178656,
         1.01994372,  0.8128379 ,  1.18062411, -0.54976387,  0.47488149,
        -1.0457273 , -0.3062174 ,  0.01420227, -0.25054349, -0.06726876,
        -0.90796824, -1.10695443, -2.45933811, -1.32991831]])

다음날 날씨 예측 후 DataFrame 생성

In [22]:
result = pd.DataFrame(model.predict(trainX[-1:]).reshape((-1,19)))
# *y_std+y_mean

In [23]:
result

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.448941,0.078883,0.45576,-0.383446,-0.432743,0.102762,-0.234384,-0.928673,-0.951012,-0.46069,-0.98784,-0.675484,0.362274,0.443823,0.474984,-0.749137,-0.889493,0.292515,-0.055607

역정규화 처리(정상적인 숫자로 변환)

In [24]:
y_std

array([  7.54919036,   7.96940634,   7.24361725,  26.85182915,
         1.6831449 ,  65.12964425,   0.88551509,  70.32041553,
        18.37951906, 447.51477923,  14.49435511,   8.82803108,
         6.80900364,   6.91683118,   6.79576799,   3.02753002,
         2.67837147,   8.59965146,   9.14540187])

역정규화 한 후, 예측 한 내용 확인

In [25]:
print(y.columns)
result.columns = y.columns
result*y_std+y_mean

Index(['평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '최대 풍속(m/s)',
       '최대 풍속 풍향(16방위)', '평균 풍속(m/s)', '최다풍향(16방위)', '최소 상대습도(%)',
       '최소 상대습도 시각(hhmi)', '평균 상대습도(%)', '평균 증기압(hPa)', '최고 해면기압(hPa)',
       '최저 해면기압(hPa)', '평균 해면기압(hPa)', '평균 전운량(1/10)', '평균 중하층운량(1/10)',
       '평균 지면온도(°C)', '최저 초상온도(°C)'],
      dtype='object')

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),최대 풍속 풍향(16방위),평균 풍속(m/s),최다풍향(16방위),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),최고 해면기압(hPa),최저 해면기압(hPa),평균 해면기압(hPa),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C)
0,21.459471,15.739088,25.045309,-3.63083,4.991411,230.264266,2.672669,141.673365,35.62526,1132.31807,56.139042,10.6401,1015.770023,1011.802817,1014.185024,3.380866,1.182443,23.664975,11.654085